<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<title>javascript sandbox console demo</title>
	<meta name="description" content="interactive javascript console for demos and homepages" />
	<meta name="keywords" content="javascript, console, sandbox, playground, demo, interactive, plugin, backbone.js, jquery, underscore.js" />
	<link rel="shortcut icon" href="http://faviconist.com/icons/c8d9b014e98028d3f2432482a1fbb48b/favicon.ico" />
	<link rel="canonical" href="http://openexchangerates.github.io/javascript-sandbox-console/" />

	<!-- The demo styles: -->
	<link href="demo-resources/demo.css" rel="stylesheet"/>
	
	<!-- The Sandbox stylesheet: -->
	<link href="src/sandbox.css" rel="stylesheet"/>

	<!-- Google Analytics -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-17884149-3']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>

<body>
	
	<div id="sandbox">sandbox loading...</div>

	<!-- Templates -->
	
	<!-- The sandbox template: -->
	<script type="text/template" id="tplSandbox">
		<pre class="output"></pre>
		<div class="input">
			<textarea rows="1" placeholder="<%= placeholder %>"></textarea>
		</div>
	</script>

	<!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
	<script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
<span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
<% } %></script>


	<!-- Scripts -->

	<!-- Underscore, Backbone, backbone-localStorage, jQuery -->
	<script src="src/libs/underscore.min.js"></script>
	<script src="src/libs/backbone.min.js"></script>
	<script src="src/libs/backbone-localStorage.min.js"></script>
	<script src="src/libs/jquery.min.js"></script>

	<!-- The JS Sandbox Console script (requires underscore, backbone and jquery): -->
	<script src="src/sandbox-console.js"></script>
	
	<!-- When ready, create the model and view -->
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			// Create the sandbox:
			window.sandbox = new Sandbox.View({
				el : $('#sandbox'),
				model : new Sandbox.Model({iframe: true}),
				placeholder : '// Введите код JavaScript и нажмите Enter (для помощи введите :help)',
				helpText : "Вводите команды JavaScript в консоль, для их обработки нажмите Enter\n      Используйте стрелки вверх и вниз для поиска и повторения уже введенных команд\n      Введите :clear чтобы очистить консоль\n      Shift+Enter для многострочных команд"
			});
		});
	</script>

</body>
</html>