/**
 * basic styles for the javascript sandbox console
 *
 * http://openexchangerates.github.io/javascript-sandbox-console/
 */

body{
	background-color: #F0F1EB;
	background: #F0F1EB;
}

#sandbox,
#sandbox pre.output,
#sandbox pre.output span,
#sandbox textarea,
#sandbox textarea:focus {
	font-size:14px;
	line-height:1.3;
	font-weight: normal;
	font-family:"Consolas", "Andale Mono", "Courier New", "Courier", monospace;
	border:0 none;
	outline:0 none;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
	        box-shadow:none;
}
#sandbox {
	background:#333;
	color: #ccc;
	background: #333;
	padding:20px 20px 15px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	max-width:640px;
	margin:30px auto;
}
#sandbox pre.output {
	display:block;
	white-space:pre;
	width:100%;
	height:285px;
	overflow-y:auto;
	position:relative;
	padding:0;
	margin:0 0 10px;
	border:0 none;
}
#sandbox pre.output span           { color:#f7f7f7; }
#sandbox pre.output span.command   { color:#ccc; }
#sandbox pre.output span.prefix    { color:#777; }
#sandbox pre.output span.undefined { color:#777; }
#sandbox pre.output span.string    { color:#99f; }
#sandbox pre.output span.number    { color:#7f7; }
#sandbox pre.output span.error     { color:#f77; }

#sandbox .input {
	padding:0 0 0 15px;
	position:relative;
}
#sandbox .input:before {
	content:">";
	position:absolute;
	top: 1px;
	left: 0;
	color:#ddd
}
#sandbox textarea {
	color:#f7f7f7;
	background:#333;
	border:0 none;
	outline:0 none;
	padding:0;
	margin:0;
	resize: none;
	width:100%;
	overflow:hidden;
}
#sandbox textarea:focus {
	outline:0 none;
}


#sandbox pre.output::-webkit-scrollbar,
#sandbox pre.output::-webkit-scrollbar-button,
#sandbox pre.output::-webkit-scrollbar-track,
#sandbox pre.output::-webkit-scrollbar-track-piece,
#sandbox pre.output::-webkit-scrollbar-thumb,
#sandbox pre.output::-webkit-scrollbar-corner,
#sandbox pre.output::-webkit-resizer {
	background: transparent;
}
#sandbox pre.output::-webkit-scrollbar {
	width:  7px;
	height: 7px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}
#sandbox pre.output::-webkit-scrollbar-track-piece {
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}
#sandbox pre.output::-webkit-scrollbar-thumb {
	background: #4f4f4f;
	        border-radius: 5px;
}
#sandbox pre.output::-webkit-scrollbar-button {
	width:0;
	height:0;
}